html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
}
@media print
{
    html,body
    {
        font-size:10px;
    }
}

.body-container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.intro {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(10, 11, 12);
    text-align: center;
}

.intro img {
    position: relative;
    top: 50%;
    margin-top: -9em;
}

#contents_and_footer {
    position: relative;
    width: auto;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    height: 100%;
    margin-left: 20em;
}

.contents {
    padding: 4.3em 0.7em 2.15em 4.3em;
    position: relative;
    width: auto;
    min-height: 100%;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    min-height: 100%;
    padding-top: 2.15em;
}

.navigation_left {
    text-decoration: none;
    letter-spacing: 0.36em;
    float: left;
    left: 0;
    position: absolute;
    width: 20em;
    min-height: 100%;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    background-color: rgb(10, 11, 12);
    background-color: rgb(29, 82, 9);
}

.navigation_left_logo {
    background: url("../img/logo.png") no-repeat top center;
    width: 20em;
    height: 14.3em;
    margin-bottom: 3.6em;
}
.navigation_left_item {
    padding: 1.1em 0;
}

.navigation_left_item a {
    display: block;
    color: white;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    text-decoration: none;
    transition: all 0.2s;
}

.navigation_left_item a:visited{
    color: white;
}

.navigation_left_item a:hover{
    color: white;
    text-shadow: 0 0 0.3em #FFFFFF;
    text-decoration: none;
}

.navigation_left_item .current {
    color: red;
    text-shadow: 0 0 0.3em #FFFFFF;
}
.navigation_left_item a:active {
    color: white;
    text-shadow: 0 0 0.36em #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(10, 11, 12);
}
.navigation_left .subMenu {
    margin: 0;
    padding: 0;
}
.navigation_left .subMenu * {
    max-height: 0;
    opacity: 0;
    font-size: 0em;
    transition: max-height 0.2s;
}
.navigation_left .current .subMenu *,
.navigation_left .open .subMenu * {
    font-size: 0.8em;
    max-height: 71.4em;
    opacity: 1;
}
.navigation_left .subMenu li {
    list-style: none none;
    margin: 0;
    padding: 0;
}
.navigation_left .subMenu a {
    font-size: 0.8em;
    padding: 0;
}

.header {
    position: relative;
    width: auto;
    background-color: rgba(0,0,0,0.75);
    background-color: rgba(104, 14, 14, 1);
    border-bottom: 1px solid rgb(10, 11, 12);
    min-height: 2.15em;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
}
.header a{
    color: ghostwhite;
}
.header a:hover{
    color: white;
    text-shadow: 0 0 0.3em #FFFFFF;
    text-decoration: none;
}

.footer {
    background-color: rgba(0,0,0,0.75);
    background-color: rgba(0, 0, 0, 0.47);
    border-top: 1px solid rgb(10, 11, 12);
    padding-top: 0.36em;
    padding-bottom: 0.36em;
    padding-right: 1%;
    width:99%;
    font-size: 0.86em;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    bottom: 0;
}

.clear {
    clear:both;
}

.photo-link {
    padding: 0.36em;
    margin: 0.36em;
    border: 1px solid #ccc;
    display:block;
    float:left;
    text-align: center;
    vertical-align: middle;
}
.photo-link img {
    float:left
}
.photo-link:hover  {
    border-color:#999;
}
.image-navigation {
    padding: 0.7em;
}

a img {
    border:none;
}

/*login page*/
.form-signin {
    max-width: 680px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input{
    width: 100%;
}

/* login page break point 1*/
@media screen and (max-width: 767px) {
    .form-signin {
        max-width: 100px;
        padding: 15px;
        margin: 0 auto;
    }
}

/* login page break point 2*/
@media screen and (max-width: 1280px) {
    .form-signin {
        max-width: 400px;
        padding: 15px;
        margin: 0 auto;
    }
}

/* meniu bar */
@media screen and (max-width: 767px) {
    .navigation_left{
        display: none;
    }
    .contents{
        margin-left: 0px;
    }
}

@media screen and (max-width: 1280px) {
    .navigation_left{
        display: none;
    }
    .contents{
        margin-left: -125px;
    }
}

/*comments*/
.div_komentaru_blokas{width:625px; float:top; margin:0 auto; padding:20px; background-color: #F5F5F5;}

.div_komentaro_blokas{width:605px; float:top; margin:0 auto 5px auto; padding:5px; background-color: #C1D8F6;}
.div_komentaro_pav{width:50px; height:50px; float:left; margin:0 5px auto 0; background-color: gray;}
.div_komentaras_irasas{width:550px; float:left; margin:0 0 5px 0;}
.div_kom_data{width:550px; clear: both; padding-left: 55px;  font-size:10px; font-style:italic; color:gray;}

.div_kom_submit{width:605px; height: 30px; clear: both; font-size:10px; font-style:italic; color:darkred;}
.div_kom_submitL{width:350px; height: 30px; float:left;}
.div_kom_submitR{width:255px; height: 30px; float:left;}
.div_kom_submitC{clear: both; height: 5px;}

input{border: 0px; width: 90px;}
.album-comment-button{
    border: 0px;
    width: 100%;
    height: 100%;
    margin:0;
    background-color: #3E5996;
    border:1px solid darkblue;
    color: white;
    font-weight:bold;
    font-size:12px;
    font-family: Verdana, Arial;
}
.komentaras{border: 0px; margin:0; width:100%; height: 60px; text-align:left; direction:RTL; nonkeyup: rtl(this);}
img{}.img_vienas{ width:300; height:300;}
span{color: green; font-size:20px; font-weight:bold;}
b{color: green;}
#user{color: darkblue;}